<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="w3-container">
    <div class="w3-panel w3-card-4" id="templateSection" >
      <h1 class="temp">Registration Form</h1><hr>

      <form (ngSubmit)="onSubmit(); sampleForm.reset()" #sampleForm="ngForm">

        Firstname:
        <input class="w3-input" name="Fname" [(ngModel)]="fname" type="text" required 
          placeholder="ex. Chilla Jean" #Fname="ngModel" />

           <div *ngIf="Fname.invalid && (Fname.dirty || Fname.touched)">
                <div *ngIf="Fname.errors.required" class="err" >
                    * Firstname is required!
                </div>
                <!-- <div *ngIf="Fname.errors.minlength" class="err">
                   * Firstname must be at least 4 characters long
                </div> -->
            </div><br>
        Lastname:
            <input class="w3-input" name="Lname" [(ngModel)]="lname" type="text" required 
              placeholder="ex. Cabungcag" #Lname="ngModel" />
               <div *ngIf="Lname.invalid && (Lname.dirty || Lname.touched)">
                    <div *ngIf="Lname.errors.required" class="err" >
                        * Lastname is required!
                    </div>
                </div><br>

        Gender:
            <select [(ngModel)]="gender" class="w3-input"  name="Gender" #Gender="ngModel" required>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <div *ngIf="Gender.invalid && (Gender.dirty || Gender.touched)">
                <div *ngIf="Gender.errors.required" class="err" >
                    * Gender is required!
                </div>
            </div><br>


        Email: 
        <input class="w3-input" name="emailadd" [(ngModel)]="emailAdd" type="email" 
        placeholder="ex. cj@gmail.com" #emailadd="ngModel"
        email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>

         <div *ngIf="emailadd.invalid && (emailadd.dirty || emailadd.touched)">
              <div *ngIf="emailadd.errors.required" class="err" >
                  * Email is required!
              </div>
              <div *ngIf="emailadd.errors.pattern" class="err">
                  * Please enter a valid email address!
              </div>
          </div><br>

          Password:
          <input class="w3-input" name="Password" [(ngModel)]="password" type="password" required minlength="8"
            placeholder="ex. password123" #Password="ngModel" />
             <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                  <div *ngIf="Password.errors.required" class="err" >
                      * Password is required!
                  </div>
                  <div *ngIf="Password.errors.minlength" class="err">
                      * Password must be at least 8 characters long!
                  </div>
              </div>
              <br>
        <button  [disabled]="!sampleForm.form.valid" type="submit" class="btn" >{{submit}}</button>
      </form>
    </div>
  </div><br><br>
  <hr>

<app-child [parentdata]='dataArr' (editData)='editdata($event)'></app-child>

</body>
